header{
  background-color: rgba(27, 24, 24, 0.685);
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 10px;
}
main{
border-radius: 15px;
margin-left: 30%;
width: 40%;
margin-right: 30%;
box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.1);
padding: 25px;

}
h1{
  font-size: 1.5em;
}
header p{
  color: white;
}
H1,H2,span{
  font-weight: bold;
}
section{
  margin-bottom: 20px;
}
h2{
  margin-bottom: 10px;
}